.container {
    position: absolute;
    border-radius: 15px;
    width: 120px;
    height: 130px;
    top: 45px;
    left: calc(-60px + 20px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.2));
    z-index: 999;
}

.container ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    text-transform: capitalize;
}

.container ul li:hover {
    cursor: pointer;
    color: #ddd;
}


.container p {
    font-size: 18px;
}