.liveMatchWrapper{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
}

.competition{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.competitionImg{
    width: 40px;
    height: 40px;
    background-color: transparent;
}

.matchInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.team_A , .team_B{
    width: 40%;
    display: flex;
    align-items: center;
}

.team_A_logo , .team_B_logo{
    width: 50px;
    height: 50px;
}

.team_A{
    justify-content: end;
}

.team_B{
    justify-content: start;
}

.matchResult{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.team_A_name , .team_B_name{
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 5px;
}

p{
    text-transform: uppercase;
}

.live_tv{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.live_tv img{
    width: 40px;
    height: 40px;
}



@media screen and (max-width : 800px) {

    .liveMatchWrapper{
        padding: 0 10px;
    }
}


@media screen and (max-width : 600px) {

    .liveMatchWrapper{
        height: 55px;
    }

    .result{
        margin: 0 4px;
        font-size: 0.8em;
    }

    .team_A_logo , .team_B_logo , .live_tv img{
        width: 30px;
        height: 30px;
    }

    .team_A_name , .team_B_name{
        font-size: 0.7em;
    }
    
    .liveMatchWrapper{
        padding: 0 8px;
    }

    .competition{
        display: none;
    }

}

@media screen and (max-width : 400px) {

    .result{
        margin: 0 5px;
        font-size: 0.7em;
    }

    .liveMatchWrapper{
        height: 45px;
    }
    
    .liveMatchWrapper{
        padding: 0 4px;
    }

    .team_A_logo , .team_B_logo , .live_tv img{
        width: 25px;
        height: 25px;
    }

    .team_A_name , .team_B_name{
        font-size: 0.7em;
    }

    .competition{
        display: none;
    }

    .matchStatus p{
        font-size: 0.5em;
    }
}
