.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.liveScoresWrapper{
    width: 90%;
    padding: 20px;
    background-color: brown;
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 10px;  
}

.liveScoresWrapper link{
    width: 90%;
}