.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    overflow: hidden;
}

.resultWrapper{
    width: 80%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}

.team_a , .team_b{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_a_logo , .team_b_logo{
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.result{
    font-size: 2em;
    margin: 0px 10px;
}

.matchInfo{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.events{
    width: 60%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    text-align: center;
    position: relative;
}

.sideBar{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.details{
    width: 100%;
    min-height: 100px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    padding: 0 20px 0px 20px;
    height: 100%;
}

.details *{
    height: 20px;
    margin: 20px 0;
}

.competition{
    margin-top: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.competitions_logo{
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.highlight{
    width: 100%;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}

.highlight_video{
    width: 90%;
    margin: 10px;
    border-radius: 15px;
}

.stats{
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
}

.event_title , .detail_title{
    margin-top: 20px; 
    font-size: 1.5em;
}

.lineups{
    width: 80%;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    margin: 20px 0;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px 10px;
    background-color: brown;
}

.team_a_players{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.team_b_players{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width : 600px) {
    .matchInfo{
        flex-direction: column;
    }

    .events{
        width: 100%;
    }

    .sideBar{
        width: 100%;
    }
}