.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    text-transform: capitalize
}

.wrapper {
    width: 90%;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistic{
    width: 60%;
}

.profileInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

@media screen and (max-width : 800px) {

    .wrapper{
        flex-direction: column;
    }

    .statistic{
        width: 100%;
    }

    .avatar{
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width : 600px) {
    .avatar{
        width: 120px;
        height: 120px;
    }
}