.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    text-transform: capitalize
}

.wrapper p {
    font-size: 16px;
}

.container {
    width: 90%;
    margin: 20px 0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.playerProfile {
    flex: 1;
    padding: 20px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.playerState {
    flex: 3;
    padding: 20px;
    min-height: 200px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.4);
}

.info {
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.info p {
    margin: 2px 0;
}

.position {
    width: 300px;
    position: relative;
}

.pitch {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.rw,
.lw,
.cb,
.lb,
.rb,
.st,
.cm,
.amf,
.dmf,
.gk {
    width: 50px;
    height: 50px;
    background: coral;
    border: 5px solid rgb(66, 66, 66);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-transform: uppercase;
    transition: 0.2s;
}

.position div:hover {
    width: 55px;
    height: 55px;
}

.lw {
    top: 17%;
    left: 12%;
}

.rw {
    top: 17%;
    right: 12%;
}

.cb {
    bottom: 17%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.st {
    top: 14%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.rb {
    bottom: 17%;
    right: 12%;
}

.lb {
    bottom: 17%;
    left: 12%;
}

.cm {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.gk {
    bottom: 10%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.dmf {
    bottom: 30%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.amf {
    top: 30%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width : 800px) {
    .container {
        width: 95%;
    }

    .playerProfile {
        font-size: 0.8em;
    }

    .profile {
        width: 100px;
        height: 100px;
    }

    .position {
        width: 200px;
    }

    .rw,
    .lw,
    .cb,
    .lb,
    .rb,
    .st,
    .cm,
    .amf,
    .dmf,
    .gk {
        width: 40px;
        height: 40px;
        font-size: 0.6em;
    }

    .position div:hover {
        width: 45px;
        height: 45px;
    }
}



@media screen and (max-width : 600px) {

    .container {
        flex-direction: column;
        align-items: center;
    }

    .playerProfile {
        width: 95%;
    }

    .playerState {
        width: 95%;
        font-size: 0.85em;
        padding: 10px;
    }

    .playerProfile {
        font-size: 0.75em;
        padding: 10px;
    }

    .position div {
        font-size: 0.8em;
    }

    .profile {
        width: 80px;
        height: 80px;
    }
}