.footer {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    display: flex;
    padding-top: 40px;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.info {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 1em;
    text-transform: uppercase;
    border-left: 2px solid white;
    padding: 0 20px;
}

.links p:hover {
    border-bottom: 2px solid chocolate;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    border-left: 2px solid white;
    padding: 0 20px;
}

.logos {
    margin-top: 10px;
}

.logos * {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 5px;
}

.description {
    position: absolute;
    text-align: center;
    bottom: 10px;
}

.links p {
    transition: 0.2s;
    font-size: 1em;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.socialMedia p {
    font-size: 1em;
}

@media screen and (max-width : 800px) {
    .footer {
        font-size: 0.85em;
        height: 200px;
    }

    .info {
        width: 90%;
    }

    .description {
        bottom: 5px;
    }
}

@media screen and (max-width : 600px) {
    .footer {
        font-size: 0.7em;
        height: 150px;
        padding-top: 30px;
    }

    .info {
        width: 90%;
    }

    .links,
    .socialMedia {
        padding: 0 10px;
    }

    .logos * {
        width: 25px;
        height: 25px;
    }

    .description {
        font-size: 0.8em;
        bottom: 5px;
    }

}