.app {
    background-image: url("./assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100dvh;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1800px;
    margin: 0 auto;

}