.wrapper {
    width: 90%;
    height: 35px;
    border-top: 1px solid black;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
}

.borderNan {
    width: 90%;
    height: 35px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px 0;
}


.teamInfo {
    flex: 2;
    display: flex;
    justify-content: start;
    align-items: center;
}

.teamResult {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamResult p {
    flex: 1;
    text-align: center;
}

.teamLogo {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.team_short_name{
    display: none;
}

@media screen and (max-width:600px) {
    .teamLogo {
        width: 25px;
        height: 25px;
        margin: 0 5px;
    }
}

@media screen and (max-width:400px) {

    .teamLogo {
        width: 20px;
        height: 20px;
        margin: 0 5px;
    }

    .team_short_name {
        display: block;
    }

    .teamName {
        display: none;
    }
}